@import "variables";

header {
    padding: 15px 250px 30px;
    background-color: $white;
    .logo {
        height: 85px;
    }
    nav {
        ul {
            list-style: none;
            font-weight: 400;
            letter-spacing: 2px;
            li {
                color: $dark_grey;

                &.active a {
                    color: $yellow;
                }
                a {
                    text-decoration: none;
                    color: $dark_grey;
                    margin: 0 20px;
                }
            }
            .my_btn_yellow {
                padding: 14px 40px;
                margin-left: 20px;
            }
        }
    }
}
